@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto);


body {
    width: 45%;
    max-width: 900px;
    min-width: 350px;
    margin: 20px auto;
    font:16px "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    color: #333333;
}

h1 {
    font-size: 2em;
    padding-top: 30px;
    text-align: left;
}

.black {
    color: #000000;
}

.red {
    color: #c22e13;
}

.blue {
    color: #005798;
}